<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('layouts/header'); -%>
   </head>
   <body>
      <%- include ('layouts/navbar'); -%>
      <!-- footer section start -->
      <%- include ('layouts/footer'); -%>
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <%- include('layouts/scripts'); -%>
   </body>
</html>